body {
    margin: 0;
    padding: 0;
    /* background-color: #48639c; */
    background: #606c88;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.dashboard-container {
    width: 90%;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.dashboard-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.coin-item {
    background-color: #343633;
    border-radius: 5px;
}

.signBtn {
    margin: 30px 12px;
}

.signBtn button:nth-child(2) {
    margin-left: 20px;
}

button {
    padding: 9px 12px;
}